In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [3]:
df=pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [5]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [9]:
ohe=OneHotEncoder()

In [13]:
encoded=ohe.fit_transform(df[['color']]).toarray()

In [15]:
enc_df=pd.DataFrame(encoded,columns=ohe.get_feature_names_out())

In [19]:
enc_df

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0
5         1.0          0.0        0.0

In [23]:
ohe.transform([['blue']]).toarray()

C:\Users\91781\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [25]:
pd.concat([df,enc_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [27]:
df.head()

   color
0    red
1   blue
2  green
3  green
4    red

In [29]:
from sklearn.preprocessing import LabelEncoder

In [31]:
le=LabelEncoder()

In [33]:
le.fit_transform(df[['color']])

C:\Users\91781\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([2, 0, 1, 1, 2, 0])

In [37]:
le.transform([['green']])

C:\Users\91781\anaconda3\Lib\site-packages\sklearn\preprocessing\_label.py:132: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, dtype=self.classes_.dtype, warn=True)

array([1])

In [39]:
from sklearn.preprocessing import OrdinalEncoder

In [43]:
df=pd.DataFrame({
    'size':['small','medium','large','medium','small','large']
})

In [45]:
df

     size
0   small
1  medium
2   large
3  medium
4   small
5   large

In [51]:
ol=OrdinalEncoder(categories=[['small','medium','large']])

In [53]:
ol.fit_transform(df[['size']])

array([[0.],
       [1.],
       [2.],
       [1.],
       [0.],
       [2.]])

In [57]:
ol.transform([['medium']])

C:\Users\91781\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but OrdinalEncoder was fitted with feature names
  warnings.warn(

array([[1.]])

In [69]:
df=pd.DataFrame({
    'city':['New York','London','Paris','Tokyo','New York','Paris'],
    'price':[200,150,300,250,180,320]
})

In [71]:
df

       city  price
0  New York    200
1    London    150
2     Paris    300
3     Tokyo    250
4  New York    180
5     Paris    320

In [75]:
mean_price=df.groupby('city')['price'].mean().to_dict()

In [77]:
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [81]:
df['city_enc']=df['city'].map(mean_price)

In [83]:
df

       city  price  city_enc
0  New York    200     190.0
1    London    150     150.0
2     Paris    300     310.0
3     Tokyo    250     250.0
4  New York    180     190.0
5     Paris    320     310.0

In [85]:
df[['price','city_enc']]

   price  city_enc
0    200     190.0
1    150     150.0
2    300     310.0
3    250     250.0
4    180     190.0
5    320     310.0